{% extends "base.html" %}
{% block content %}
  <div class=" mt-4">
    <div class="card-detail">
      <div class="card-body">
        <h5 class="card-title">Data</h5>
        <!-- Informasi Pekerjaan -->
        <form id="jobForm" method="post" action="/simpan/{{ data['uuid'] }}">
          <div class="form-group">
            <label for="namaUnit">Nama Unit:</label>
            <input type="text" class="form-control" id="" name="nama_unit" value="{{ data['nama_unit'] }}" placeholder="{{ data['nama_unit'] }}">
          </div>
          <div class="form-group">
            <label for="namaPekerjaan">Nama Pekerjaan:</label>
            <input type="text" class="form-control" id="" name="nama_pekerjaan" value="{{ data['nama_pekerjaan'] }}" placeholder="{{ data['nama_pekerjaan'] }}">
          </div>
          <div class="form-group">
            <label for="namaPekerjaan">Pagu:</label>
            <input type="text" class="form-control" id="" name="pagu" value="{{ data['pagu'] }}" placeholder="{{ data['pagu'] }}">
          </div>
          <div class="form-group">
            <label for="namaPekerjaan">Tanggal Pengajuan:</label>
            <input type="date" class="form-control" id="" name="tgl_pengajuan" value="{{ data['tgl_pengajuan'] }}" placeholder="{{ data['tgl_pengajuan'] }}">
          </div>
          <div class="form-group">
            <label for="namaPekerjaan">Nama PPK:</label>
            <input type="text" class="form-control" id="" name="nama_ppk" value="{{ data['nama_ppk'] }}" placeholder="{{ data['nama_ppk'] }}">
          </div>
          <!-- Opsional, ada opsi untuk menambahkan dengan memilih dari daftar nama yang ada, request dikirim dalam bentuk id anggota ke db -->
          <div class="form-group">
            <label for="namaPekerjaan">Nama PP</label>
            <input type="text" class="form-control" id="" name="nama_pp" value="" >
          </div>
          <div class="form-group">
            <label for="namaPekerjaan">Nama POKJA</label>
            <input type="text" class="form-control" id="" name="nama_pokja" value="" >
          </div>
          <!-- ...tambahkan input fields lainnya sesuai kebutuhan... -->
  
          <!-- File Info -->
          <div class="file-info mt-3">
            <h6 class="card-subtitle mb-2 text-muted">File Info</h6>
            <div class="form-group">
              <label for="file">Kerangka kerja acuan:</label>
              <input type="file" class="form-control-file" id="" name="kak" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Harga Perkiraan Sendiri:</label>
              <input type="file" class="form-control-file" id="" name="hps" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Spesifik Teknis:</label>
              <input type="file" class="form-control-file" id="" name="spesifikasi_teknis" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Rancangan kontrak:</label>
              <input type="file" class="form-control-file" id="" name="r_kontrak" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Dokumen Persyaratan Penyedia Pengadaan:</label>
              <input type="file" class="form-control-file" id="" name="dokum_penyedia" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Dokumen persyaratan proses pemilihan:</label>
              <input type="file" class="form-control-file" id="" name="data_pemilihan" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Daftar Harga:</label>
              <input type="file" class="form-control-file" id="" name="daftar_harga" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Jadwal pelaksanaan:</label>
              <input type="file" class="form-control-file" id="" name="jadwal" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Gambar rancangan pekerjaan:</label>
              <input type="file" class="form-control-file" id="" name="rancangan_kerja" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Dokumen studi kelayakan:</label>
              <input type="file" class="form-control-file" id="" name="dc_studi_kelayakan" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Dokumen penawaran administratif:</label>
              <input type="file" class="form-control-file" id="" name="dc_penawaran" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Surat penawaran penyedia : </label>
              <input type="file" class="form-control-file" id="" name="surat_penawaran" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Sertifikasi lisensi :</label>
              <input type="file" class="form-control-file" id="" name="sertifikat" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Berita acara pemberi penjelasan:</label>
              <input type="file" class="form-control-file" id="" name="ba_pemberian" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Berita acara pengumuman negosiasi :</label>
              <input type="file" class="form-control-file" id="" name="ba_pengumuman" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Berita acara sanggah:</label>
              <input type="file" class="form-control-file" id="" name="ba_sanggah" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Berita acara penetapan :</label>
              <input type="file" class="form-control-file" id="" name="ba_penetapan" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Surat penunjukkan penyedia barang/jasa :</label>
              <input type="file" class="form-control-file" id="" name="laporan_hasil" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Dokumen kontrak : </label>
              <input type="file" class="form-control-file" id="" name="dc_kontrak" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Surat perintah mulai kerja :</label>
              <input type="file" class="form-control-file" id="" name="surat_pemerintah" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Surat jaminan pelaksanaan:</label>
              <input type="file" class="form-control-file" id="" name="surat_jaminan" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">jaminan uang muka: </label>
              <input type="file" class="form-control-file" id="" name="surat_jaminan_uang" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Surat jaminan pemeliharaan:</label>
              <input type="file" class="form-control-file" id="" name="surat_jaminan_pemeliharaan" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Surat tagihan:</label>
              <input type="file" class="form-control-file" id="" name="surat_tagihan" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Surat pemesanan e- purchasing : </label>
              <input type="file" class="form-control-file" id="" name="surat_pesanan_epurchasing" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Surat perintah membayar :</label>
              <input type="file" class="form-control-file" id="" name="surat_perintah_membayar" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Surat perintah pencairan dana : </label>
              <input type="file" class="form-control-file" id="" name="surat_perintah_pencairan_dana" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Laporan pelaksanaan pekerjaan :</label>
              <input type="file" class="form-control-file" id="" name="laporan_pelaksanaan" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Laporan penyelesaian pekerjaan :</label>
              <input type="file" class="form-control-file" id="" name="laporan_penyelesaian" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Berita acara pemeriksaan hasil pekerjaan:</label>
              <input type="file" class="form-control-file" id="" name="ba_pemeriksa_hasil" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Berita acara serah terima sementara:</label>
              <input type="file" class="form-control-file" id="" name="ba_serah_terima_sementara" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Berita acara serah terima :</label>
              <input type="file" class="form-control-file" id="" name="ba_serah_terima" accept=".pdf">
            </div>

            <!-- ...Tambahkan input file lainnya di sini... -->
  
            <!-- Tombol Submit -->
            <button type="submit" class="btn btn-primary">Simpan</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  
  {% endblock %}
</body>
</html>
