{% extends "base.html" %}
{% block content %}
  <div class=" mt-4">
    <div class="card-detail">
      <div class="card-body">
        <h5 class="card-title">Data</h5>
        <!-- Informasi Pekerjaan -->
        <form id="jobForm">
          <div class="form-group">
            <label for="namaUnit">Nama Unit:</label>
            <input type="text" class="form-control" id="namaUnit" name="namaUnit" value="">
          </div>
          <div class="form-group">
            <label for="namaPekerjaan">Nama Pekerjaan:</label>
            <input type="text" class="form-control" id="namaPekerjaan" name="namaPekerjaan" value="">
          </div>
          <div class="form-group">
            <label for="namaPekerjaan">Pagu:</label>
            <input type="text" class="form-control" id="Pagu" name="Pagu" value=" " >
          </div>
          <div class="form-group">
            <label for="namaPekerjaan">Tanggal Pengajuan:</label>
            <input type="" class="form-control" id="date" name="date" value="" >
          </div>
          <div class="form-group">
            <label for="namaPekerjaan">Tanggal Kontrak:</label>
            <input type="" class="form-control" id="date" name="date" value="" >
          </div>
          <div class="form-group">
            <label for="namaPekerjaan">Tanggal mulai pekerjaan:</label>
            <input type="" class="form-control" id="date" name="date" value="" >
          </div>
          <div class="form-group">
            <label for="namaPekerjaan">Tanggal selesai pekerjaan:</label>
            <input type="" class="form-control" id="date" name="date" value="" >
          </div>
          <div class="form-group">
            <label for="namaPekerjaan">Nilai Kontrak</label>
            <input type="" class="form-control" id="date" name="date" value="" >
          </div>
          <div class="form-group">
            <label for="namaPekerjaan">Adendum</label>
            <input type="text" class="form-control" id="Pagu" name="Pagu" value="" >
          </div>
          <div class="form-group">
            <label for="namaPekerjaan">Tanggal Pengajuan:</label>
            <input type="" class="form-control" id="date" name="date" value="" >
          </div>
          <div class="form-group">
            <label for="namaPekerjaan">Nama PP</label>
            <input type="text" class="form-control" id="Pagu" name="Pagu" value="" >
          </div>
          <div class="form-group">
            <label for="namaPekerjaan">Nama POKJA</label>
            <input type="text" class="form-control" id="Pagu" name="Pagu" value="  " >
          </div>
          <div class="form-group">
            <label for="namaPekerjaan">Nama Penyedia</label>
            <input type="text" class="form-control" id="Pagu" name="Pagu" value="  " >
          </div>
          <div class="form-group">
            <label for="progressDropdown">Progress</label>
            <select class="form-control" id="progressDropdown" >
              <option value="0" >Tahap Awal</option>
              <option value="10" >Proses</option>
              <option value="20" >Selesai</option>
            </select>
          </div>
          <!-- ...tambahkan input fields lainnya sesuai kebutuhan... -->
  
          <!-- File Info -->
          <div class="file-info mt-3">
            <h6 class="card-subtitle mb-2 text-muted">File Info</h6>
            <div class="form-group">
              <label for="file">Kerangka kerja acuan:</label>
              <input type="file" class="form-control-file" id="fileKAK" name="fileKAK" accept=".pdf">
            </div>
            
            <!-- disini -->
            <div class="mb-3">
              <label for="formFile" class="form-label">Default file input example</label>
              <input class="form-control-file" type="file" id="formFile">
            </div>
            <!-- disini -->

            <div class="form-group">
              <label for="file">Harga Perkiraan Sendiri:</label>
              <input type="file" class="form-control-file" id="fileHPS" name="fileHPS" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Spesifik Teknis:</label>
              <input type="file" class="form-control-file" id="fileTeknis" name="fileTeknis" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Rancangan kontrak:</label>
              <input type="file" class="form-control-file" id="filekontrak" name="filekontrak" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Dokumen Persyaratan Penyedia Pengadaan:</label>
              <input type="file" class="form-control-file" id="filekontrak" name="filekontrak" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Dokumen persyaratan proses pemilihan:</label>
              <input type="file" class="form-control-file" id="filekontrak" name="filekontrak" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Jadwal pelaksanaan:</label>
              <input type="file" class="form-control-file" id="filekontrak" name="filekontrak" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Gambar rancangan pekerjaan:</label>
              <input type="file" class="form-control-file" id="filekontrak" name="filekontrak" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Dokumen studi kelayakan:</label>
              <input type="file" class="form-control-file" id="filekontrak" name="filekontrak" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Dokumen penawaran administratif:</label>
              <input type="file" class="form-control-file" id="filekontrak" name="filekontrak" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Surat penawaran penyedia : </label>
              <input type="file" class="form-control-file" id="filekontrak" name="filekontrak" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Sertifikasi lisensi :</label>
              <input type="file" class="form-control-file" id="filekontrak" name="filekontrak" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Berita acara pemberi penjelasan:</label>
              <input type="file" class="form-control-file" id="filekontrak" name="filekontrak" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Berita acara pengumuman negosiasi :</label>
              <input type="file" class="form-control-file" id="filekontrak" name="filekontrak" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Berita acara sanggah:</label>
              <input type="file" class="form-control-file" id="filekontrak" name="filekontrak" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Berita acara penetapan :</label>
              <input type="file" class="form-control-file" id="filekontrak" name="filekontrak" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Surat penunjukkan penyedia barang/jasa :</label>
              <input type="file" class="form-control-file" id="filekontrak" name="filekontrak" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Dokumen kontrak : </label>
              <input type="file" class="form-control-file" id="filekontrak" name="filekontrak" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Surat perintah mulai kerja :</label>
              <input type="file" class="form-control-file" id="filekontrak" name="filekontrak" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Surat jaminan pelaksanaan:</label>
              <input type="file" class="form-control-file" id="filekontrak" name="filekontrak" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">jaminan uang muka: </label>
              <input type="file" class="form-control-file" id="filekontrak" name="filekontrak" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Surat jaminan pemeliharaan:</label>
              <input type="file" class="form-control-file" id="filekontrak" name="filekontrak" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Surat tagihan:</label>
              <input type="file" class="form-control-file" id="filekontrak" name="filekontrak" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Surat pemesanan e- purchasing : </label>
              <input type="file" class="form-control-file" id="filekontrak" name="filekontrak" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Surat perintah membayar :</label>
              <input type="file" class="form-control-file" id="filekontrak" name="filekontrak" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Surat perintah pencairan dana : </label>
              <input type="file" class="form-control-file" id="filekontrak" name="filekontrak" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Laporan pelaksanaan pekerjaan :</label>
              <input type="file" class="form-control-file" id="filekontrak" name="filekontrak" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Laporan penyelesaian pekerjaan :</label>
              <input type="file" class="form-control-file" id="filekontrak" name="filekontrak" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Berita acara pemeriksaan hasil pekerjaan:</label>
              <input type="file" class="form-control-file" id="filekontrak" name="filekontrak" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Berita acara serah terima sementara:</label>
              <input type="file" class="form-control-file" id="filekontrak" name="filekontrak" accept=".pdf">
            </div>
            <div class="form-group">
              <label for="file">Berita acara serah terima :</label>
              <input type="file" class="form-control-file" id="filekontrak" name="filekontrak" accept=".pdf">
            </div>

            <!-- ...Tambahkan input file lainnya di sini... -->
  
            <!-- Tombol Submit -->
            <button type="submit" class="btn btn-primary">Simpan</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  
  {% endblock %}
</body>
</html>
